[user]
	name = real name
	email = email address
	signingkey = key ID
[sendemail]
	from = real name <email address>
	smtpserver = smtp.gmail.com
	smtpuser = email address
	smtppass = yourpassword
	smtpencryption = tls
	chaimreplyto = false
	smtpserverport = 587
	confirm = auto
[tag]
	forceSignAnnotated = true
[core]
        abbrev = 12
	compression = 9
	editor = vim
[pretty]
        fixes = Fixes: %h (\"%s\")
[commit]
	gpgsign = true
[http]
	postBuffer = 2048M
	maxRequestBuffer = 1024M
	cookiesfile = ~/.gitcookies
[ssh]
	postBuffer = 2048M
	maxRequestBuffer = 1024M
[pack]
	windowMemory = 256M
	packSizeLimit = 256M
[pull]
	rebase = false
[gpg]
	program = gpg
